.logo {
    max-height: 100%; /* lub inny rozmiar, który Ci odpowiada */
    /* Dodatkowe style, jeśli są potrzebne */
  }
  /* Styl dla nagłówka */
p.header {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
/* Styl dla linków */
a {
  color: #bcbcbc;
  display: block;
  text-decoration: none;
  transition: color 0.3s;

  
  
}

/* Styl dla linków przy najechaniu myszką */
a:hover {
  color: white;
}

