.footer-container {
    color: white;
    height: 40px; /* adjust the height as needed */
    padding: 10px;
    margin-top: auto;

  }
  
  .footer-content {
   /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  footer {
    background-color: #141414;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #bcbcbc;
  }
  
  .footer {
    /*max-width: 1160px;*/
    max-width: 1160px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer-content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .double {
    display: flex;
    justify-content: space-between;
  }
  .right {
  margin-left: 50px;
  }
    
  .footer-content p:not(.header),
  a {
    font-size: 1.3rem;
    opacity: .9;
    color: #bcbcbc;
    margin-top: 10px;
  }
  
  p.header {
    color: white;
    font-size: initial;
    font-size: 2rem;
    font-weight: bold
  }
    
  a {
    color: #bcbcbc;
    display: block;
  }
  
  a:hover {
    color: white;
    }
  